.header-wrapper {
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-bottom: 36px;
    background: #000000;
    padding: 0px 30px 0 15px;
    align-items: center;
    box-shadow: rgb(0,0,0) 0px 10px 20px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.header-text {
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 52px);
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
}

.header-text-field {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 52px);
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
}

.header-button {
    height: 18px;
    cursor: pointer;
}