@media screen and (max-width: 699px) {
    .list-wrapper img {
        width: 100%;
    }
}

.list-wrapper img {
    max-height: 272px;
}

.list-wrapper {
    padding-top: 106px;
}

.list-item {
    margin-bottom: 20px;
}

.list-text {
    font-size: 12px;
    padding-top: 10px;
    color: #fff;
}